.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products__empty {
  padding: 0 1rem;
  text-align: center;
  margin-top: 5rem;
  font-size: 1.8rem;
  color: #c5c6c7;
}

@media (min-width: 48em) {
  .products {
    margin-left: 28%;
    height: 100vh;
  }

  .products__empty {
    margin-left: 28%;
    font-size: 3rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 64em) {
  .products {
    font-size: 3rem;
    margin-left: 22%;
  }

  .products__empty {
    margin-left: 22%;
  }
}
