.mob--navbar{
  display: block;
}

.navbar {
  display: none;
}

@media (min-width: 48em) {
  .navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 5rem;
    width: 28%;
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), #000);
    z-index: 300;
  }

  .logo {
    width: 80%;
    margin: 2rem 2rem 5rem 2rem;
  }

  .logo img {
    width: 100%;
  }

  .mob--navbar {
    display: none;
  }
}

@media (min-width: 64em) {
  .navbar {
    width: 23%;
  }
}
